name: Build Flet APK

on:
  push:
    branches: [ "main" ]
  workflow_dispatch: # This adds a "Run workflow" button so you can trigger it manually

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.12'

      - name: Setup Java
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '17'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Build Android APK
        run: flet build apk

      - name: Upload APK Artifact
        uses: actions/upload-artifact@v4
        with:
          name: Dashboard-APK
          path: build/apk/*.apk
